<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.minihouse.repository.CommentRepository">
  <insert id="save" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO comments (content, created_at, post_id, user_id)
    VALUES (#{content}, now(), #{postId}, #{userId})
    <selectKey keyProperty="id" resultType="Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
  </insert>

  <select id="findById" resultType="com.minihouse.domain.Comment">
    SELECT *
    FROM comments
    WHERE id = #{id}
  </select>

  <update id="update">
    UPDATE comments
    SET updated_at = now(),
        content    = #{content}
    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM comments
    WHERE id = #{id} and post_id = #{postId}
  </delete>
</mapper>
